{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/sty1.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>Amastigote Killing Compounds</title>
</head>

<body>
    <nav class="navbar bg-dark text-black navbar-dark opacity-30 navbar-expand-sm sticky-top">
        <div class="container">
            <a href="" class="navbar-brand d-flex align-items-center">LABQFC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavbar">
                <span class="navbar-toggler-icon"> </span>
            </button>
            <div class="navbar-collapse" id="menuNavbar">
                <div class="navbar-nav ms-auto">
                    <a href="#" class="nav-link">HOME</a>
                    <a href="{% url 'moleculas' %}" class="nav-link">MOLÉCULAS</a>
                    <a href="http://localhost/novoprojeto/login.php" class="nav-link">LOGIN</a>
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">SAIBA MAIS</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a href="https://www.ufrn.br/" target="_blank" class="dropdown-item">Portal UFRN</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">LABQFC</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
    <div class="grid-container1">
        <div class="grid-item1">
            <h1 id="h1">AMASTIGOTE KILLING COMPOUNDS</h1>
        </div>
    </div>
    <div class="grid-container2">
        <div class="grid-item2" id="divlogo">
            <img src="{% static '/assets/imagens/ufrn.png'%}" id="logo">
        </div>
        <div class="grid-item2" id="counter">
            <h1>{{ total_linhas }}</h1>
            <p>Moléculas</p>
        </div>
        <div class="grid-item2" id="divlogo">
            <img src="{% static '/assets/imagens/lab.png'%}" id="logo2">
        </div>
    </div>
    <div class="grid-container3">
        <div class="grid-item3">
            <h1 id="ap">Sobre o Projeto</h1>
            <p id="app">A leishmaniose é uma doença tropical negligenciada que afeta mais de 350 milhões de pessoas em todo o mundo, causada pelo parasita do gênero Leishmania. A busca por novas moléculas terapêuticas se torna imperativa devido às limitações,
                toxicidade e riscos de resistência associados aos tratamentos atuais. Nesse contexto, é evidente que a colaboração e o compartilhamento
                de conhecimento e recursos desempenham um papel fundamental na aceleração da descoberta de terapias mais eficazes, seguras e acessíveis.</p>
        </div>
        <div class="grid-item3">
            <div id="gif" style="width:100%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/l0Iyb2pEevoDThkFW" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
    </div>
    <div class="grid-container4">
        <div class="grid-item4">
            <a href="{% url 'comparar' %}">
                <button type="button" class="submit" value="start">START</button>
            </a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js">
        integrity = "sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin = "anonymous" 
    </script>
</body>

</html>