
.grid-container1 {
    display: grid;
    grid-template-columns: 21fr;
    grid-template-rows: 3fr;
    grid-gap: 10px;
    margin: 0 auto; /* Centraliza o layout na tela */
    padding: 6px;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 7fr 7fr 7fr;
    grid-template-rows:3fr;
    grid-gap: 10px;
    margin: 0 auto; /* Centraliza o layout na tela */
    background: rgba(0, 0, 0, 0.1)  
}

.grid-container3 {
    display: grid;
    grid-template-columns: 16fr 5fr;
    grid-template-rows: 3fr;
    grid-gap: 10px;
    margin: 0 auto; /* Centraliza o layout na tela */
    background-color: rgba(25,25,25);
}

.grid-container{
    display: grid;
    grid-template-columns: 27fr;
    grid-template-rows: 3fr;
    grid-gap: 10px;
    margin: 0 auto; /* Centraliza o layout na tela */
}


.grid-item1 {
    padding: 20px;
    text-align: center;
}

.grid-item2 {
    padding: 20px;
    text-align: center;
}

.grid-item3 {

    text-align: center;
}

.grid-item4 {
    padding: 20px;
    text-align: center;
}
.input-field  {
    height: 100px;
    width: 78%;
    border: none;
    outline: none;
    border-radius: 15px;
    color:#000;
    padding: 0 0 0 40px;
    background: rgba(0, 0, 0, 0.1)  
}

#logo2 {
    width: 300px;
    margin-top: 2%;

}
#logo {
    width: 300px;
}
 
#counter{
 
    margin-top: 3%;
    margin-left: 25px;
    font-family: 'URW Palladio L, serif';
    font-size: 40px;
}
#h1{
    color: black;
    text-shadow: 2px 2px 4px rgba(0,0,0, 0.5);
    text-align: center;
    margin: 0 auto;
    font-size: 70px;
}
#ap{
    text-shadow: 2px 2px 4px rgba(73, 65, 181, 0.5);
    text-align: left;
    margin: 0 auto;
    margin-top: 36px;
    color: white; 
    margin-left: 30px;
}

#app{
    text-align: justify;
    margin-top: 40px;
    color: white;
    font-family: 'URW Palladio L, serif';
    font-size: 21px;
    margin-left: 30px;
}

#gif{
    margin-left: -180px;
}
.submit {
    background-color: transparent; /* Definindo a cor de fundo como transparente */
    border: 2px solid black; /* Adicionando uma borda sólida com cor azul (#007bff) */
    border-radius: 10px; /* Adicionando bordas arredondadas */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adicionando uma sombra suave */
    color: black; /* Definindo a cor do texto como azul (#007bff) */
    padding: 15px 90px; /* Adicionando espaço interno ao botão */
    text-decoration: none; /* Removendo a sublinhado do link */
    transition: background-color 0.3s, color 0.3s; /* Adicionando uma transição suave para cores */
    font-family: 'URW Palladio L, serif';
    font-weight: bold;
  }

  /* Estilização do botão no hover (quando o mouse passa por cima) */
  .submit:hover {
    background-color: black; /* Alterando a cor de fundo para azul quando o mouse passa por cima */
    color: #fff; /* Alterando a cor do texto para branco */
    text-decoration: none; /* Removendo a sublinhado do link */
  }
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
        grid-template-rows: repeat(4, 1fr); /* Cada divisão ocupa uma linha inteira */
    }
    #logo2 {
        width: 55px;
        margin-top: 28px;
        margin-left: -10px;
    
    }
    #logo {
        width: 55px;
        margin-top: 25px;
    }
    #h1{
        color: black;
        text-shadow: 2px 2px 4px rgba(0,0,0, 0.5);
        text-align: center;
        margin: 0 auto;
        font-size: 30px;
    }
    #counter{
 
        margin-top: 3%;
        margin-left: 25px;
        font-family: 'URW Palladio L, serif';
        font-size: 20px;
    }
    #ap{
        color: black;
        text-shadow: 2px 2px 4px rgba(73, 65, 181, 0.5);
        text-align: left;
        margin: 0 auto;
        margin-top: 25px;
        color: white; 
        margin-left:10px;
        font-size: 12px;
    }
    
    #app{
        text-align: justify;
        margin-top: 25px;
        color: white;
        font-family: 'URW Palladio L, serif';
        font-size: 10px;
        margin-left: 10px;
    }
    
    #gif{
        margin-left: -50px;
        margin-top: 80px;
        width:1%;
    }
    .submit {
        background-color: transparent; /* Definindo a cor de fundo como transparente */
        border: 1px solid black; /* Adicionando uma borda sólida com cor azul (#007bff) */
        border-radius: 10px; /* Adicionando bordas arredondadas */
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adicionando uma sombra suave */
        color: black; /* Definindo a cor do texto como azul (#007bff) */
        padding: 8px 20px; /* Adicionando espaço interno ao botão */
        text-decoration: none; /* Removendo a sublinhado do link */
        transition: background-color 0.3s, color 0.3s; /* Adicionando uma transição suave para cores */
        font-family: 'URW Palladio L, serif';
        font-weight: bold;
        font-size: 10px;
      }
}